.right{
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    padding: 0;
    margin: 0;
}
.right_1{
    position: relative;
}
.right_1 span{
    width: 36px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 9999;
    background-color: #000;
    color: white;
    opacity: 0.6;
    border-radius: 2px;
    font-size: 1.2rem;
}

.right_2{
    background: #F7F7F7;
}
.right_2 .row{
    padding: 30px 15px;
    margin: 0;
}
.right_2 img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.right_2 img:hover{
    transform: translate3d(0, -4px, 0);
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}

.right_3{
    margin: 0 0 16px 0;
}
.right_3_left_box{
    padding-left: 140px;
}

@media(max-width:768px){
    .right_3 .row{
        width: 100%;
        width: 800px;
        text-align: center;
    }
    .right_3_left_box{
        width: 100%;
    }
    .right_3_right_box{
        width: 100%;
        margin-bottom: 80px;
    }
}

.right_3_left_box h2{
    font-size: 22px;
    margin-top: 36px;
}
.right_3_left_box p{
    margin: 24px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.56);
    line-height: 34px;
}
.right_3_left_box p.pac a{
    color: #C2A661 !important;
}
.right_3_left_box p.lr a{
    padding: 10px 18px;
    border-radius: 48px;
    border: 1px solid #00A862;
    color: #00A862 !important;
}
.right_3_right_box{
    margin-top: 92px;
    margin-left: 92px;
}

.right_4{
    background: #F7F7F7;
    padding: 20px;
}
.right_4_box{
    width: 770px;
    margin: 30px auto;
    text-align: center;
}
.right_4_box>h2{
    font-size: 22px;
}
.right_4_box>p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.56);
    margin: 20px;
}
.right_4_box .row{
    padding: 0;
    margin: 0 auto;
}
.right_4_box .row>div{
    padding: 0 12px;
}
.right_4_box .row>div a{
    background: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    display: block;
    position: relative;
    border-radius: 2px;
    margin-top: 60px;
    width: 162px;
    height: 198px;
}
.right_4_box .row>div:hover{
    transform: translate3d(0, -4px, 0);
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}
.right_4_box .row div img{
    width: 100px;
    height: 70px;
    position: absolute;
    top: -36px;
    left: 30px;
}
.right_4_box .row div a p:nth-child(2){
    margin: 48px 0 10px 0;
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 40px;
}
.right_4_box .row div a p:nth-child(3){
    color: rgba(0, 0, 0, 0.56);
    font-size: 1.4rem;
    line-height: 28px;
}
.right_4_box .row div a p:nth-child(4){
    font-size: 1.2rem;
    color: #C2A661;
    font-weight: 400;
    opacity: 0.7;
    margin: 20px 0;
}

.right_5{
    overflow: hidden;
    padding: 36px 0 0;
    background: white;
}
.right_5_box{
    width: 100%;
    position: relative;
}
.right_5_top{
    text-align: center;
}
.right_5_top h2{
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0 24px;
}
.right_5_top p{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.56);
    margin: 0 0 40px;
}
.right_5_buttom{
    width: 1360px;
    height: 260px;
    margin: 10px 0 0;
}
.right_5_buttom>div img{
    width: 18px;
    height: 18px;
}
.right_5_prev, .right_5_next{
    position: absolute;
    top: 50%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background: white;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.right_5_prev img, .right_5_next img{
    margin-top: -2px;
}
.right_5_prev{
    left: 24px;
    display: none;
    z-index: 999;
}
.right_5_prev:hover{
    left: 20px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
}
.right_5_next{
    right: 24px;
}
.right_5_next:hover{
    right: 20px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
}
.right_5_banner{
    margin-left: 144px;
}
.right_5_banner a{
    width: 290px;
    height: 225px;
    display: inline-block;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    position: relative;
    margin-right: 10px;
    border-radius: 4px;
    position: relative;
}
.right_5_banner a:hover{
    transform: translate3d(0, -4px, 0);
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}
.right_5_banner a div{
    width: 290px;
    height: 168px;
    background-size: 100% 100%;
}
.right_5_banner a span{
    width: 82px;
    height: 34px;
    position: absolute;
    top: 6px;
    left: 0;
    color: white;
    background: #C2A661;
    line-height: 34px;
    text-align: center;
}
.right_5_banner a strong{
    font-size: 16px;
    font-weight: normal;
    text-align: left !important ;
    margin: 16px 16px;
    display: block;
}

.right_6{
    text-align: center;
    margin-bottom: 10px;
    background: white;
}
.right_6 a img{
    margin-top: -4px;
    width: 12px;
    height: 12px;
}
.right_6 a{
    color: #666 !important;
    font-size: 14px;
}